.div-tela{
    display: flex;
}

.div-perfil{
    background-color: #E2BECC;
    width: 25%;
    height: 100vh;
    position:fixed;
}

.div-cadastro{
    width: 50%;
    margin-top: 3%;
    margin-left: 35%;
}

input{
    margin-left: 1%;
    margin-bottom: 3%;
    width: 90%;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
}

input::placeholder{
    color: white;
}

.label-perfil{
    width: 70%;
    margin-left: 20%;
    margin-top: 3%;  
}

.ng-invalid{
    text-align: left;
    margin-left: 8px;
}

h1{
    text-align: center;
    color: #FFFFFF;
    margin-top: 15%;
    margin-bottom: 15%;
}

.card{
    flex-wrap: wrap;
    display: inline-block;
    margin: 10px;
    background-color: #89A4C8;
  
}

.text-ligth{
    color:white;
}

.text-ligth:hover{
    color:#565761;
}

.text-danger{
    text-align: center;
}

.instcad{
    text-align: center;
    color: black;
}

.btn{
    background-color: #1A1859;
    color: #FEFEFE;
    margin-top: 8%;
}

.msg{
    color: #1A1859;
}

.btn-botoes{
    text-align: center;
}

.div-botoes{
    margin-top: 25%;
}

.form-cadastro{
    text-align: center;
}

span{
    color:#1A1859;
    text-align: center;
}