<div class="div-geral">

    <div class="div-cadastro">
        
        <h2>Adicionar disciplina</h2>

        <form #f="ngForm" (ngSubmit)="gravar(f.value)">

            <input required class="input-group-text" type="text" [(ngModel)]="disciplina.nome" #fnome="ngModel" ngModel
                name="nome" placeholder="Informe a disciplina" />
            <span class="validacao" *ngIf="fnome.invalid && fnome.touched">*Campo disciplina é obrigatório</span>

            <input required class="input-group-text" type="text" [(ngModel)]="disciplina.abreviacao"
                #fabreviacao="ngModel" ngModel name="abreviacao" placeholder="Informe a abreviação" />
            <span class="validacao" *ngIf="fabreviacao.invalid && fabreviacao.touched">*Campo abreviação é
                obrigatório</span>

            <input required class="input-group-text" type="text" [(ngModel)]="disciplina.docente" #fdocente="ngModel"
                ngModel name="docente" placeholder="Informe o docente" />
            <span class="validacao" *ngIf="fdocente.invalid && fdocente.touched">*Campo docente é obrigatório</span>

            <input class="input-group-text" rows="1" cols="35" type="text" [(ngModel)]="disciplina.anotacao"
                #fanotacao="ngModel" ngModel name="anotacao" placeholder="Anotações" />

            <select required class="form-select" [(ngModel)]="disciplina.idinst" #fidinst="ngModel" ngModel
                name="idinst">
                <option *ngFor="let inst of listaInstituicao" value="{{inst.id}}">
                    {{inst.nome}}
                </option>
            </select>
            <span>{{msg}}</span>
        </form>
        <div class="mt-2 div-botoes">
            <button type="submit" onClick="window.location.reload()" [disabled]="f.invalid" class="btn me-2"
                (click)="gravar(f.value)">Salvar</button>
            <button type="reset" onClick="window.location.reload()" class="btn">Cancelar</button>
        </div>
        
    </div>

    <div class="div-janela">
        
        <app-info></app-info>

        <h1>Disciplina</h1>

        <div *ngFor="let disc of disciplina" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ disc.nome }}</h5>
                <h6 class="card-subitle mb-2">{{ disc.abreviacao }} {{ '-' }} {{disc.docente}}</h6>
                <p class="card-text">{{ disc.anotacao }}</p>
            </div>

            <i role="button" class="material-icons text-light" (click)="editar(disc.id)">mode_edit</i>

            <i role="button" onClick="window.location.reload()" class="material-icons text-ligth"
                (click)="excluir(disc.id)">delete</i>

        </div>

    </div>

    <app-drop style="max-height: 2em;"></app-drop>

</div>