.div-geral {
    display: flex;
}

.div-login {
    background-color: #BF608380; 
    width: 50%;
    height: 100vh;
    text-align: center;
}

.div-enfeite {
    background-color: #BF608380;
    margin-left: 2%;
    width: 0.5%;
    height: 100vh;
}

.div-cadastrar {
    width: 30%;
    margin-left: 10%;
    text-align: center;
}

.h1-color {
    font-size: 50px;
    margin-top: 19%;
    color: white;
    font-family: Kameron;
}

button:hover {
    background-color: #1A1859;
}

.btn-login {
    background-color: #1A1859;
    color: white;
    margin-top: 3%;
    font-family: Kameron;
    padding: 1% 3%;
    border-radius: 20px;
    font-size: 20px;
}

.btn-entrar {
    background-color: #1A1859;
    color: white;
    font-family: Kameron;
    padding: 1% 3%;
    border-radius: 20px;
    font-size: 20px;
}

.input-login {
    width: 90%;
    border-radius: 20px;
    border-color: white;
    padding: 1%;
    font-family: Kameron;
    background-color: transparent;
    color: white;
}

.input-cadastro {
    width: 90%;
    margin: 3%;
    border-radius: 20px;
    border-color: #1A1859;
    color: #1A1859;
    background-color: transparent;
    padding: 1%;

}

.input-cadastro::placeholder {
    color: #1A1859;
}

.h1-color-cadastro {
    font-size: 50px;
    margin-top: 20%;
    color: #1A1859;
    font-family: Kameron;
}

.h1-color-cadastro::placeholder{
    color: #1A1859;
    background-color: #1A1859;
}

span {
    color: red;
    font-size: 15px;
    font-family: Kameron;
}

.div-login-left {
    width: 70%;
    margin-left: 20%;
    text-align: left;
}

.label-login {
    margin-left: 2%;
    font-family: Kameron;
    font-size: larger;
    color: white;
}

#mostrarInfo{
    display: none;
    color:#1A1859;
  }

#info:hover #mostrarInfo{
    display:block;
}

.iconinfo{
    display:inline;
}

p{
    margin-left: 20%;
    margin-top: 10%;
    font-family: Kameron;
    font-size: larger;
    color: white;
}

span{
    color: #1A1859;
}