<div class="div-tela">
    <div class="div-perfil">
        <div class="div-icon">
            <i class="bi bi-person-circle img-usuario"></i>
            <label class="label-perfil"><h3>{{ aluno.nome }}</h3></label>
            <label class="label-perfil"><h3>{{ aluno.usuario }}</h3></label>
            <label class="label-perfil"><h3>{{ aluno.email }}</h3></label>
            <div class="div-btn-sair">
                <button required type="button" class="btn btn-dark col-md-10" data-bs-toggle="modal" data-bs-target="#alterarsenha">Alterar Senha</button>
            </div>
        </div>
    </div>
    <div class="div-cadastro">
        <app-aluno-alterarsenha></app-aluno-alterarsenha>
        <app-info></app-info>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" id="info">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Conheça O Aluno Agenda!</h4>
                </div>
                <div class="modal-body">
                  <p>É novo por aqui!?</p>
                  <p>Conheça o Aluno Agenda! Aqui você pode organizar suas atividades sem perder nem um compromisso!</p>
                  <p>Olha só o que você consegue fazer!</p>
                  <p>Cadastre as instituições em que estuda</p>
                  <p>Cadastre as disciplinas que participa em cada instituição</p>
                  <p>Cadastre suas notas das avaliações de cada disciplina</p>
                  <p>Cadastre e visualize seus comprimissos das suas disciplinas </p>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary btn-modal" (click)="closeInfo()"><i data-bs-dismiss="modal" class="material-icons">close</i></button>
                </div>
              </div>
            </div>
          </div>


        <h1>Informações cadastrais</h1>
        <form class="form-editar" #f="ngForm" (ngSubmit)="editar(f.value)">
            <div *ngIf="fnome.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" [(ngModel)]="aluno.nome" #fnome="ngModel" ngModel name="nome" placeholder="Digite Nome"
                required>
            <div *ngIf="ftelefone.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <span>{{msgNome}}</span>
            <input type="text" [(ngModel)]="aluno.telefone" #ftelefone="ngModel" ngModel name="telefone"
                placeholder="Digite Telefone" mask="(00) 00000-0000" required>
            <div *ngIf="femail.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <span>{{msgTel}}</span>
            <input type="text" [(ngModel)]="aluno.email" #femail="ngModel" ngModel name="email"
                placeholder="Digite Email" required disabled>
            <div *ngIf="fusuario.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" [(ngModel)]="aluno.usuario" #fusuario="ngModel" ngModel name="usuario"
                placeholder="Digite Usuário" required>
            <div *ngIf="!f.invalid">
                <button type="submit" class="btn btn-salvar">Salvar</button>
            </div>
            <span>{{msgLogin}}</span>
        </form>
    </div>
    <app-drop style="max-height: 2em;"></app-drop>
</div>

