
<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
      <i id="agenda" class="material-icons">menu</i>
   </label>
   
    <a href="calendario" class="menu-item agenda"> <i id="agenda" class="material-icons">date_range</i> </a>
    <a [routerLink]="['/perfilAluno', this.alunoToken.id]" class="menu-item perfil"> <i id="perfil" class="material-icons" >perm_identity</i></a>
    <a href="cadastrainstituicao" class="menu-item instituicao"> <i id="instituicao" class="material-icons">school</i> </a>
    <a href="disciplina" class="menu-item disciplina"> <i id="disciplina" class="material-icons">book</i> </a>
    <a href="nota" class="menu-item disciplina"> <i id="disciplina" class="material-icons">note</i> </a>
    <a data-bs-toggle="modal" data-bs-target="#info" class="menu-item info"> <i id="info" class="material-icons">info</i></a>
    <a (click)="Deslogar()" class="menu-item logout"> <i id="logout" class="material-icons">logout</i> </a>
   
    
    
 </nav>