<div class="modal" id="info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Conheça O Aluno Agenda!</h2>
      </div>
      <div class="modal-body">
        <h2>É novo por aqui!?</h2>
        <p>Conheça o Aluno Agenda! Aqui você pode organizar suas atividades sem perder nem um compromisso!</p>
        <div class="instrucoesInfo"><img src="/assets/imagens/menu.jpg" class="menuicon"><p class="menuicon">Olha só o que você consegue fazer!</p></div>
        <div class="instrucoesInfo"><img src="/assets/imagens/instituicao.jpg" class="menuicon"><p class="menuicon">Cadastre as instituições em que estuda</p></div>
        <div class="instrucoesInfo"><img src="/assets/imagens/disciplina.jpg" class="menuicon"><p class="menuicon">Cadastre as disciplinas que participa em cada instituição</p></div>
        <div class="instrucoesInfo"><img src="/assets/imagens/notas.jpg" class="menuicon"><p class="menuicon">Cadastre suas notas das avaliações de cada disciplina</p></div>
        <div class="instrucoesInfo"><img src="/assets/imagens/agenda_menu.jpg" class="menuicon"><p class="menuicon">Cadastre e visualize seus comprimissos das suas disciplinas </p></div>
        <div class="instrucoesInfo"><img src="/assets/imagens/info.jpg" class="menuicon"><p class="menuicon">Me leia quando quiser!</p></div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary btn-modal" (click)="closeInfo()"><i data-bs-dismiss="modal" class="material-icons">close</i></button>
      </div>
    </div>
  </div>
</div>