.div-tela {
    display: flex;
}

.div-perfil {
    background-color: #E2BECC;
    width: 25%;
    height: 100vh;
    position: fixed;
}

.div-cadastro {
    width: 100%;
    margin-left: 25%;
}

input {
    margin-left: 8%;
    margin-top: 3%;
    width: 85%;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    font-family: Kameron;
}

.h1-calendario {
    text-align: center;
    margin-top: 2%;
    margin-left: 3%;
    color: #1A1859;
    margin-bottom: 2%;
}

input::placeholder {
    color: white;
}

.label-perfil {
    width: 70%;
    margin-left: 20%;
    margin-top: 3%;
}

.ng-invalid {
    text-align: center;
}

.h1-adicionar {
    text-align: center;
    color: #FFFFFF;
    margin-top: 13%;
}

.btn {
    background-color: #1A1859;
    color: #FEFEFE;
    margin-top: 35%;
}

.msg {
    color: #1A1859;
}

.btn-calendar {
    padding: 4%;
    margin-top: 3%;
}

.div-botoes {
    width: 100%;
    text-align: center;
}

.div-formato {
    width: 30%;
    border-style: groove;
    text-align: center;
}

.div-calendario {
    width: 100%;
    flex-direction: row;
    display: flex;
}

.btn-voltar {
    background-color: #1A1859;
    color: white;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 20%;
    padding: 0.5% 1%;
}

.btn-avancar {
    background-color: #1A1859;
    color: white;
    margin-left: 85%;
    margin-top: 2%;
    border-radius: 20%;
    padding: 0.5% 1%;
}

.hora {
    color: white;
}

.div-drop {
    display: flex;
}

.div-drop-h1 {
    margin-top: 2%;
    width: 83%;
}

.div-drop-drop {
    width: 17%;
}

.card {
    width: 130px;
    flex-direction: column;
    display: inline-block;
    margin: 2px;
    background-color: #CFEAF2;
    margin-bottom: 10%;
}

.instcad {
    text-align: center;
    color: black;
}

.form-select {
    margin-left: 8%;
    margin-top: 3%;
    width: 85%;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    font-family: Kameron;
}

.form-cadastro{
    margin-top: 15%;
}

.div-botoes-calendario{
    margin-bottom: 3%;
}

span{
    color:#1A1859;
    margin-left: 20px;
}