.div-fade{
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
}

.div-centralizar{
    margin-left: 3%;
}

.h2-style{
    margin-left: 20%;
}

.div-botoes{
    margin-left: 3%;
    margin-bottom: 7%;
}

.btn-modal{
    background-color: #1A1859;
    color: white;
    padding: 1% 2%;
}